.nav__container {
  max-width: 100%;
  height: fit-content;
  background-color:#FFF;
}
.nav__wrapper {
  max-width: 1440px;
  padding: 7px 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color:#FFF;
}
.logo__box {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color:#FFF;
 }
.logo-svg {
  background-color:#FFF;
}
.logo-img {
  height: 50px;
  width: 50px;
}
.title {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #0ab200;
  background-color:#FFF;
}
.nav__box {
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
  color: black;
  background-color:#FFF;
}
.link {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color:#FFF;
}


.link-lan {
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
}
.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}
.dropdown-overlay.active {
  display: block;
  overflow-y: auto;
  pointer-events: auto;
}
.dropdown-open {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 66px;
  right: 0;
  bottom: 0;
  left: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 436px;
  z-index: 1000;
  display: none;
}

.dropdown-open.active {
  display: block;
  background-color: #fff;
}

.lan__box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: white;
}

.lan-row__box {
  display: flex;
  padding: 16px;
  gap:15px;
  background-color: white;
}

.lan {
  font-size: 26px;
  background-color: #fff;
  color: #fff;
}

.dropdown-item {
  display: block;
  padding: 5px;
  color: black;
  background-color: white;
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}

.dropdown-close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #000;
  background-color: #FFF;
  font-size: 18px;
  cursor: pointer;
}

.dropdown-close:hover {
  color: #f00;
}

