<header class="nav__container">
  <div class="nav__wrapper">
    <div class="logo__box">
      <div class="logo-svg">
        <img class="logo-img" src="./assets/unnamed.png" alt="Лого">
      </div>
      <p class="title">
        µTorrent
      </p>
    </div>
    <div class="nav__box">
      <a class="link" routerLink="/product">Продукты</a>
      <a class="link" routerLink="/about">Форум</a>
      <a id="mainnav-language" class="link" (click)="toggleDropdown()">Язык</a>
      <div id="dropdown-menu" class="navPopup-module--popup--1iG_D" [class.active]="isDropdownOpen"
           (click)="closeDropdown()">
        <div class="navPopup-module--popupInner--2hvxr">
          <div class="container h-100 position-relative p-0 mb-5 pb-5 pt-4 pt-lg-0">
            <div class="row px-5 py-5 mx-3">
              <div class="col-6 py-3 px-0">
                <div><a hreflang="en" id="mainnav-lang-en" class="dropdown-item language" href="/">English</a></div>
                <div><a hreflang="de" id="mainnav-lang-de" class="dropdown-item language" href="/intl/de/">Deutsch</a></div>
                <div><a hreflang="es" id="mainnav-lang-es" class="dropdown-item language" href="/intl/es/">Español</a></div>
              </div>
              <div class="col-6 py-3 text-right">
                <a class="close-icon" (click)="closeDropdown()">&times;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
