<header class="nav__container">
  <div class="nav__wrapper">
    <div class="logo__box">
      <div class="logo-svg">
        <img class="logo-img" src="./assets/unnamed.png" alt="Лого">
      </div>
      <p class="title">
        µTorrent
      </p>
    </div>
    <div class="nav__box" >
      <a class="link" routerLink="/product">Продукты</a>
      <a class="link" routerLink="/about">Форум</a>
      <a id="mainnav-language" class="link-lan" (click)="openDropdown()">Язык</a>
      <div class="ghost__box" [ngClass]="{ active: isOpen }"></div>
      <div class="dropdown-menu" *ngIf="isOpen" @slider>
        <div class="content">
          <a hreflang="en" id="mainnav-lang-en" *ngFor="let item of languages.languages" class="dropdown-item language" href="/">
            {{ item.label }}
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
