<section class="classic__container">
  <div class="classic__wrapper">
    <div class="title__box">
      <div class="title-image">
        <img class="title-img" src="./assets/ui-classic-e18ecd90907bd5c2d144565cf5abf388.svg" alt="Каритнка тайтла">
      </div>
      <div class="title-text__box">
        <div class="subtitle__box">
          <div class="title-logo">
            <img class="title-svg" src="./assets/загружено%20(1).svg" alt="svg">
            <p class="title"> <span class="torrent">µTorrent</span> Classic</p>
          </div>
          <p class="subtitle-text">
            Очень компактный классический клиент для опытных пользователей.
          </p>
          <button class="button__box">
            <a href="/" class="button">Скачать бесплатно</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
