<app-header></app-header>
<section class="home__container">
  <div class="home__wrapper">
    <div class="title__box">
      <div class="title-image">
        <img class="title-img" src="./assets/ui-web-0076095fb4cd2b151c9a035d289c67e2.svg" alt="Каритнка тайтла">
      </div>
      <div class="title-text__box">
        <div class="subtitle__box">
          <div class="title-logo">
        <img class="title-svg" src="./assets/загружено.svg" alt="svg">
        <p class="title"> <span class="torrent">µTorrent</span> Web</p>
          </div>
          <p class="subtitle-first">
            Воспроизводите торренты во время скачивания.
          </p>
          <p class="subtitle-second">
            Идеально для новых пользователей.
          </p>
          <button class="button__box">
            <a href="/" class="button">Скачать бесплатно</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-classic></app-classic>


