.home__container {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}
.home__wrapper {
  max-width: 1440px;
  padding: 3px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow-x: auto;
}

.title__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.title-image {
  flex-shrink: 0;
  height: 390px;
  width: 390px;
  padding: 15px;
}

.title-img {}

.title-text__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 100%;
  padding: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.title-svg {
  height: 60px;
  width: 60px;
}

.title {
  font-size: 1.7em;
}

.torrent {
  color: #0ab200;
}

.subtitle__box {
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 330px;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.title-logo {
  display: flex;
  align-items: center;
}

.subtitle-first,
.subtitle-second {
  display: block;
}

.button__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  background-color: #76b83f;
  text-transform: uppercase;
  box-sizing: border-box;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #76b83f;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}
